// $primaryColor: #9a57b5;
// $primaryColor: #5cabe1;
// $primaryColor: #1db898;
$primaryColor: #e24b3b;
$primaryFont: 'Source Sans Pro', sans-serif;
$headingFont: 'Roboto', sans-serif;

$sidebarBaseColor: #4f5061;