.comment-box {
    border: 1px solid #dee5e7;
}
.comment-box__body > .form-control { border: none; }
.comment-box__action {
    background: #f6f8f8;
    border-top: 1px solid #dee5e7;
    padding: 1rem 1.5rem;
    text-align: right;
}

.comment-list {
    border-left: 2px solid #ddd;
    list-style: none;
    padding: 0;
}
.comment-list > li {
    background: #F7F7F7;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
    margin: 1.5rem 0 1.5rem 3rem;
}
.comment-list__meta {
    color: #ccc;
    font-size: 75%;
}
.comment-photo {
    position: absolute;
    top: 0;
    left: -4.7rem;
    height: 32px;
    width: 32px;
    border: 2px solid #FFF;
    border-radius: 50%;
}