{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">EmpireConf 2017 Speaker FAQ</h2>
    <p>
      EmpireConf is a two-day conference, with a single-track talks section followed by concurrent, varied skill-level workshops.
    </p>
    <h3>Writing proposal / preparing talk</h3>
    <h4>What should my proposal be like?</h4>
    <p>
      <a href="http://wunder.schoenaberselten.com/2016/02/16/how-to-prepare-and-write-a-tech-conference-talk/">Please see Talk Ideas</a> for further suggestions! 
    </p>
    <strong>Other Resources</strong>
    <ul>
        <li><a href="http://www.geekgirlweb.com/blog/2015/8/30/a-quick-guide-to-public-speaking">A Quick Guide to Public Speaking</a></li>
        <li><a href="http://weareallaweso.me/for_speakers/how-to-write-a-compelling-proposal.html">How to Write a Compelling Proposal</a></li>
        <li><a href="http://rckbt.me/2014/01/conference-proposals/">Conference Proposals</a></li>
        <li><a href="https://www.youtube.com/watch?v=hUenQ30Itgg">https://www.youtube.com/watch?v=hUenQ30Itgg</a></li>
    </ul>
    <p>
        You can also take a look at the videos from the previous years (<a href="https://www.youtube.com/playlist?list=PL31ehRjJCA6Fh_l4jd-0neUKLUDwycZK8">2014</a>, <a href="https://www.youtube.com/playlist?list=PL31ehRjJCA6EB_ZI3YscW_UMP34XrguOt">2015</a>) to see what kind of talks were accepted.
    </p>
    <h4>I need privacy for my submission. Can I submit and be sure my submission will be kept private until my talk?</h4>
    <p>
        Yes! We keep all information about talks completely private and share no information publicly unless approved by you. If you have questions about a talk submission, please email us at <a href="mailto:speakers@empirejs.org">speakers@empirejs.org</a>
    </p>
    <h4>Can I submit multiple proposals?</h4>
    <p>Yes, but we highly recommend you submit the minimal number of talks with the maximum variation of topic coverage i.e. don't submit three talks on the same topic. </p>
    <h4>Will there be a Q&amp;A section after the talk?</h4>
    <p>
        Not in the typical format you may be used to at a conference. We will have a break after every three talks with snacks in the lounge, where our speakers are asked to be available for you to approach and ask questions in a much smaller, more chatty environment. It should be a conversation!
    </p>
    <h4>What if I've never given a talk before?</h4>
    <p>
        We would love to hear from you! If you are interested, we would be more than happy to connect you with a mentor who can help with your talk proposal. Get in touch: <a href="mailto:speakers@empirejs.org">speakers@empirejs.org</a>
    </p>
    <h3>Talks</h3>
    <h4>How should the talk be?</h4>
    <p>
        Each talk will be about 25 minutes. We will provide you with a timer to help you track time. Each workshop will be 3 hours with at least one 20 minute break. We will need to provide volunteers to help assist in mentoring during your session. We will coordinate this with you.
    </p>
    <h4>Will I have wireless access?</h4>
    <p>
        Yes, but we recommend you keeping an offline copy of your presentation and materials. Tempting the demo gods is a fun challenge!
    </p>
    <h4>Will the talks be recorded?</h4>
    <p>
        Yes, all talks will be recorded and published on our <a href="https://www.youtube.com/user/EmpireJS/videos">youtube channel</a>. If you don't want your talk to be published, just let us know in advance.
    </p>
    <h4>Can I have more than one speaker in presenting?</h4>
    <p>
        One of the potential speakers has to submit the proposal, and mention the other speaker in the comments section. However, please keep in mind that double speakers means double travel costs. It must make a LOT of sense for this story to be told by multiple people for the reviewers to be excited about it.
    </p>
    <h3>Selection process</h3>
    <h4>How long will the selection process take?</h4>
    <p>
        One week, following the final date of the Call for Presenters.
    </p>
    <h4>How do proposals get selected?</h4>
    <p>
        We minimize bias by calling it out with our review team anytime we are aware of a submitter. We have also built out a diverse organizing and review team in order to cover the wide range of perspectives necessary to select the best range of web/JS/Node.js/design/community talks.  Our aim is to gather the best talks on the most interesting topics, from as diverse a selection of presenters as possible &ndash; reflecting the amazing software community in NYC. 
    </p>
    <h4>How will I know if my proposal was selected?</h4>
    <p>
        Once the selection process is over, we will email you the acceptance or decline.
    </p>
    <h4>I submitted multiple proposals, but only got one response, were all my proposals rejected?</h4>
    <p>
        We will only send one email to one person.
    </p>
    <h3>Perks</h3>
    <p>
        Please see <a href="https://speak.empireconf.org/package">https://speak.empireconf.org/package</a>
    </p>
    <h3>How many people will be at the conference?</h3>
    <p>
        We are expecting to have 450 attendees this year.
    </p>
</div>
{% endblock %}

