{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just JavaScript-related talks. There
      have been sessions covering a wide range of topics supporting JS
      developers, and we encourage you to "think outside the box" to come up
      with your own unique topics.
    </p>
    <p>
      If you choose to submit multiple talks, please do so with the understanding that they should all represent your current passions and interests. These should be as separate of talk topics as you can muster. Multiple talks do not necessarily increase your chance of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Good ol' Javascript</li>
        <li>Design Patterns</li>
        <li>Development principles</li>
        <li>Security</li>
        <li>Design in Web Development</li>
        <li>Microservices</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Version control</li>
        <li>User Experience/Usability</li>
        <li>Building APIs (REST, SOAP, whatever)</li>
        <li>Continuous Integration</li>
        <li>Framework-comparison topics</li>
        <li>Automation</li>
    </ul>
</div>
{% endblock %}

