{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">{{ site.title }} Speaker Information</h2>
    <p>
        We're excited to bring together some of the best speakers from NYC, the
  NorthEast, and all around the world in order to provide the most fun-filled,
  technology-pushing, best practices affirming, inclusive conference we can muster
  in New York.
    </p>
    <h4 class="headline--alpha">About the event</h4>
    <p>
        When the Call for Talks closes, the review committee will pour through the
  submissions with multiple rounds of consideration. Speakers will be notified
  after September 1 of acceptance. Once confirmations are received decline notices
  will be relayed.
    </p>
    <h4 class="headline--alpha">This year's package</h4>
    <p>
        Our speaker package for this year's event includes:
    </p>
    <ul>
        <li>Full conference pass</li>
        <li>Speaker Dinner</li>
        <li>For speakers remote to the Area:</li>
        <ul>
            <li>Airfare/travel up to $500 domestic, $1000 international</li>
            <li>We'll coordinate transportation to/from the airport so final prep for your talk
  is the most stressful thing you'll deal with.</li>
            <li>Lodging for the duration of your stay</li>
        </ul>

    </ul>
    <h4 class="headline--alpha">Tips for Submission</h4>
    <p>
      We are looking for speakers pushing the boundaries of Javascript: in the
      Browser, on the Server, with hardware, and in ways we might not know yet!
      We're hoping for speakers who are leading the charge on best practices for
      what's sticking around our ever-changing landscape. We welcome speakers who
      are first-time to the stage and have a passion for their work that will make
      us just as excited.

      We want presenters who are coming at Javascript in ways we truly can't
      even fathom. Have a unique format you'd like to present it in? Let us
      know!

      Diversity of voices is important to our community, and we are serious when
      we say EVERYONE AND ANYONE. If you've never given a talk before that's
      EVEN MORE reason to submit a proposal here now. If you have any questions
      about what we're looking for, or you're just needing a little
      encouragement for your submission, please drop us an email at <a href="mailto:speakers@empirejs.org">speakers@empirejs.org</a>
    </p>
    <p>
      We are also committed to ensuring the conference is a place
      where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
      is not tolerated</strong>. We expect speakers, attendees, organizers, and sponsor representatives to be professional and courteous to each other. We reserve the right to remove, without refund,
      ANY attendee (speaker or otherwise) who is unable to adhere to this policy. Please see our <a href="https://github.com/EmpireJS/Code-of-Conduct/blob/master/README.md#the-empirejs-code-of-conduct">Code of Conduct</a> for further details.
    </p>
</div>
{% endblock %}
